{% extends "base.html" %}
{% block title %} - NetID Results{% endblock %}
{% block content %}

    {% if message %}
    <p><h3> {{message}} </h3></p>
    {% endif %}

    {% if table %}
    <script type="text/javascript" src="/static/js/tables.js"></script>
    <table id="example" class="table table-condensed  table-bordered table-hover table-striped" cellspacing="0" width="100%">
         <thead>
            <tr>
                <th>Account</th>
                <th>Domain</th>
                <th>Event Date</th>
                <th>IP</th>
                <th>Country</th>
            </tr>
         </thead>
         <tbody>
            {% for row in table %}
                 <tr>
                     <td>
                        <!-- NetID button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                           {{ row[0] }}
                          </button>
                          <ul class="dropdown-menu" role="menu" >
                              <li><a id="searchNetID"  actionObject="netid" netid="{{row[0]}}" href="#">Search by Username</a></li>
                              <li><a href="mailto:{{row[0]}}">Email User</a></li>
                              <li><a target="_blank" href="http://myserviver.confiureme.com/keywords={{row[0]}}">Directory Lookup</a></li>
                              <li class="disabled"><a id="directoryLookup"  actionObject="netid" netid="{{row[0]}}" href="#">View Audits</a></li>
                              <li class="disabled"><a id="lookupNetID"  actionObject="netid" netid="{{row[0]}}" href="#">Queue Audit</a></li>
                              <li class="disabled"><a id="disableNetID" actionObject="netid" netid="{{row[0]}}" href="#">Disable Account</a></li>
                              <li class="disabled"><a id="enableNetID"  actionObject="netid" netid="{{row[0]}}" href="#">Enable Account</a></li>
                          </ul>
                        </div>
                     </td>

                     <!-- Google Domain -->
                     <td>{{row[1]}} </td>

                     <!-- Event TimeDate -->
                     <td>{{row[2]}} </td>

                     <!-- IP Address -->
                     <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                             {{ row[3] }}
                            </button>
                            <ul class="dropdown-menu" role="menu" >
                                <li><a id="searchIP"  actionObject="IP" ip="{{row[3]}}" href="#">Search for IP</a></li>
                                <li><a target="_blank" href="http://centralops.net/co/DomainDossier.aspx?dom_whois=true&dom_dns=true&traceroute=true&net_whois=true&svc_scan=true&addr={{row[3]}}">Central Ops</a></li>
                                <li><a target="_blank" href="http://www.google.com/#q={{row[3]}}" target="_blank">Google</a></li>
                                <li><a target="_blank" href="https://www.virustotal.com/en/ip-address/{{row[3]}}/information/">VirusTotal</a></li>
                                <li><a target="_blank" href="https://www.mywot.com/en/scorecard/{{row[3]}}">WoT</a></li>
                                <li><a target="_blank" href="http://www.malwaredomainlist.com/mdl.php?search={{row[3]}}&colsearch=All&quantity=50">MDL</a></li>

                                <li class="disabled"><a id="whitelistIP" actionObject="ip" ip="{{row[3]}}" href="#">White List IP</a></li>
                                <li class="disabled"><a id="blacklistIP" actionObject="ip" ip="{{row[3]}}" href="#">Black List IP</a></li>
                                <li class="disabled"><a id="blocklistIP" actionObject="ip" ip="{{row[3]}}" href="#">Add to Block List</a></li>
                            </ul>
                        </div>
                      </td>

                     <!-- Country Code -->
                     <td>{{row[4]}} </td>
                 </tr>
            {% endfor %}
          </tbody>
     </table>
    {% endif %}
{% endblock %}

